In [16]:
import pandas as pd

data = [34.999871253789586, 8.45411921652242, 1.7711272962424118]
headers = ['v1', 'v2', 'P1']

In [21]:
# dataLoL = list(map(lambda e1: [e1], data))
dataLoL = [[34.999871253789586, 8.45411921652242, 1.7711272962424118]]
df = pd.DataFrame(dataLoL, columns=headers)
df

          v1        v2        P1
0  34.999871  8.454119  1.771127

In [14]:
dataLoL

[[34.999871253789586], [8.45411921652242], [1.7711272962424118]]

In [15]:
headers

['Name', 'Age', 'G']

In [17]:
lst = [['tom', 25, 'M'], ['krish', 30, 'F'],
       ['nick', 26, 'M'], ['juli', 22, 'F']]


# headers = ['Name', 'Age', 'G']
df = pd.DataFrame(lst, columns =headers)

df

      v1  v2 P1
0    tom  25  M
1  krish  30  F
2   nick  26  M
3   juli  22  F